*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

html{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    scroll-behavior: smooth;
}

/* Body */

/* Nav */

.navbar {
    background-color: #000; /* Barva pozadí */
    padding: 10px; /* Odstup od obsahu */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #fff; /* Barva textu */
    font-size: 24px;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none; /* Odstranění odrážek u seznamu */
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff; /* Barva textu */
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}


/* Nav */

/* Sec */

section {
    height: 100vh; /* Celá výška stránky */
    padding: 50px; /* Ohraničení textu */
    background-color: #f2f2f2; /* Barva pozadí sekce */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center; /* Zarovnání textu na střed */
  }

/* Sec */