*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

html{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* Body */

/* Nav */

.navbar {
    background-color: #000; /* Barva pozadí */
    padding: 10px; /* Odstup od obsahu */
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar-nav {
    list-style-type: none; /* Odstranění odrážek u seznamu */
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff; /* Barva textu */
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.menu-icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 101;
    color: black;
  }
  
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    transform: translateX(100%);
    z-index: 100;
  }
  
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
    list-style-type: none;
  }
  
  .mobile-menu li {
    margin-bottom: 20px;
  }
  
  .mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .menu-logo{
    margin-bottom: 20px;
  }
  
  #menu-toggle:checked ~ .mobile-menu {
    transform: translateX(0);
  }

  #menu-toggle:checked ~ .menu-icon {
    color: white;
  } 

/* Nav */

/* Sec */

section {
    height: 100vh; /* Celá výška stránky */
    padding: 50px; /* Ohraničení textu */
    background-color: #f2f2f2; /* Barva pozadí sekce */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center; /* Zarovnání textu na střed */
    scroll-snap-align: center;
}

section p{
    padding: 10px;
}

.image img{
    width: 40%;
}

.macOS {
    font-size: 50px;
}

.button{
    font-size: 20px;
}

/* Sec */

@media screen and (max-width: 700px) {
    .navbar{
        display: none;
    }
    input{
        display: none;
    }
}
@media screen and (min-width: 701px) {
    .menu-icon{
        display: none;
    }
}
  